* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

header {
    background-color: #000;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a {
   margin: 2rem;
   font-weight: bold;
   transition: 0.5s;
}

header nav a:hover {
    color: #6d0303;
}

.logoimg {
    width: auto;
    height: 25px;
    margin: 0 4rem;
}

.slide-container {
    width: 100%;
    height: 800px;
    overflow: hidden;
    /* background-color: #ccc; */
    border-top: 2px solid #6d0303;
    border-bottom: 2px solid #6d0303;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.form-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -20rem;
}

.art1 img,
.art2 img {
    width: 450px;
    height: 550px;
} 

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: 2px solid #000;
    border-radius: 5px;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    margin-top: 12rem;
}

form h2 {
    margin-bottom: 1rem;
}

form input[type="email"],
form input[type="password"] {
    width: 250px;
    height: 50px;
    border: 2px solid #000;
    transition: 1s;
    padding: 5px;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    background-color: #000;
    color: #fff;
}

form input[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 1rem;
}

form input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

form p {
    font-weight: bold;
}

form a {
    text-transform: initial;
    color: #000;
    text-decoration: underline;
    transform: 0.5;
}

form a:hover {
    color: rgb(26, 43, 192);
    font-weight: bold;
}

.art2 img {
    object-fit: cover;
}

.text-recent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    text-transform: uppercase;
}

.recent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.recent a img {
    width: 450px;
    margin: 20px;
}

footer {
    width: 100%;
    height: 4rem;
    background-color: #000;
}

footer nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

footer nav a img {
    width: auto;
    height: 25px;
}

footer nav p,
footer nav p span {
    color: #fff;
    font-weight: bold;
}

@media (max-width: 600px) {
    header .istext {
        display: none;
    }

    .slide-container {
        max-width: 100%;
    }

    footer nav p,
    footer nav p span {
        font-size: 12px;
    }

    .recent {
        flex-direction: column;
    }

    .recent {
        justify-content: center;
    }

    .art1,
    .art2 {
        display: none;
    }

    footer nav a {
        display: none;
    }
}

@media (max-width: 1440px) {
    .slider-container {
        max-width: 1440px;
    }

    .form-container {
        justify-content: center;
    }

    .art1 img,
    .art2 img {
        width: 300px;
    }

    .recent a img {
        width: 300px;
    }
} 